<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>G.U.N</title>
  </head>
  <body>
    <div id="root"></div>
    <script>window.exports = {};</script>
    <script src="/app.js"></script>
  </body>
</html>
